<!DOCTYPE html>
			<!--EU VOU TENTAR NOVAMENTE FAZER O CÓDIGO ANGULAR JS NO FIM DE SEMANA, APÓS AS PROVAS.
			ESTUDAR NOVAMENTE OS VÍDEOS DA CODESCHOOL. CONFESSO QUE TIVE QUE MANDAR HOJE COM MEDO 
			DE ESQUECER DE ENVIAR NO FINAL DE SEMANA E ASSIM NEM SER AVALIADO POR VOCÊS. NAS AULAS
			CONSEGUI IMPLEMENTAR, PORÉM QUANDO FIZ A REQUISIÇÃO $HTTP SEMPRE DAVA ERRO. FALTEI UMA
			SEMANA DE AULA PRA ESTUDAR. SAD BUT TRUE. MESMO ASSIM, FOI UMA EXCELENTE OPORTUNIDADE. OBG.-->
<html lang="pt-br">
<head>
<meta charset="utf-8">
<title>Estágio Even3</title>
<!--CSS-->
<link href="style.css" rel="stylesheet">

<!--javascript-->
<script type="application/javascript" src="angular.min.js"> </script>
<script type="application/javascript" src="app.js"></script>
<script type="application/javascript" src="posts.js"></script>
<script type="application/javascript" src="comments.js"></script>
<script type="application/javascript" src="users.js"></script>
</head>
<body id="page-top" data-ng-app="app">
<div class="container" data-ng-app="app">
	<div class="menu-main">
		<nav class="nav">
			<div class="menu-home">
				<a href="#page-top"><b>/HOME</b></a>
			</div>
			<div class="menu-lista">
				<ul>
					<li><a class="page-scroll" href="#sobre"><b>/SOBRE</b></a></li>
					<li><a class="page-scroll" href="#posts"><b>/POSTS</b></a></li>
					<li><a class="page-scroll" href="#contato"><b>/CONTATO</b></a></li>
				</ul>
			</div>
		</nav>
	</div>
	<section id="header" class="header">
		<div class="header">
			<div class="header-d">
				<div class="titulo-header">
					<h1 class="titulo-header">BEM VINDO!</h1>
				</div>
				<div class="p-header">
					<p class="p-header"><b>Estágio Even3 - II Etapa</b></p>
				</div>
			</div>
		</div>
	</section>
	<section id="sobre" class="sobre">
		<div class="sobre-d">
			<div class="titulo-sobre">
				<h1>Rafael Soares</h1>
				<hr/>
			</div>
			<div class="p-sobre">
				<p class="p-sobre">Discente do curso de Sistema de Informações do Centro Universitário Estácio. Procura oportunidade de estágio na área de desenvolvimento de software e banco de dados.</p>
			</div>
		</div>
	</section>
	<section id="posts" class="posts">
		<div class="posts-d">
			<div class="container-posts" data-ng-controller="postsCtrl">
				<div class="titulo-post">
					<h1>Postagens</h1>
				</div>
				<table  class="tabela">
					<tr>
						<th>Email</th>
						<th>Título</th>
						<th>Descrição</th>
					</tr>
					<tr ng-repeat="posts in  postss | limitTo: 3">
						<td>{{posts.email}}</td>
						<td>{{posts.title}}</td>
						<td>{{posts.body}}</td>
					</tr>
				</table>
			</div>
			</div data-ng-controller="commentsCtrl">
				<table class="tabela">
					<tr>
						<th>Comentários</th>
						<th>Descrição</th>
					</tr>
					<tr ng-repeat="comments in commentss | limitTo: 3">
						<td>{{comments.title}}</td>
						<td>{{comments.body}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="users" data-ng-controller="usersCtrl">
			<table class="tabela">
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th>Email</th>
				</tr>
				<tr ng-repeat="users in userss | limitTo: 3">
					<td>{{users.name}} </td>
					<td>{{users.username}} </td>
					<td>{{users.email}} </td>
				</tr>
			</table>
		</div>
	</section>
	<section class="contato" id="contato">
		<div class="contato-d">
			<div class="titulo-contato">
				<h1>Contato</h1>
			</div>
			<div class="p-contato">
				<p> Pronto para realizar um projeto? Ótimo! Entre em contato através do telefone ou e-mail abaixo e iremos responder o mais breve possível.</p>
			</div>
			<div class="inf-contato">
				<div class="contato-telefone">
					<img class="img_telefone" src="img/telefone.png" />
					<h4 class="h3-telefone">(81) 99716-9260</h4>
				</div>
				<div class="contato-email">
					<img class="img_email" src="img/email.png" />
					<h4 class="h3-email">cavalcanti.xu@gmail.com</h4>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="footer-d">
			<img class="img_redesocial" src="img/facebook.png" />
			<img class="img_redesocial" src="img/instagram.png" />
			<img class="img_redesocial" src="img/twitter.png" />
		</div>
	</footer>
</div>
</body>
</html>
